{% extends 'base/base.html' %}
{% load static %}
{% block conteudo %}
<div class="card-columns">
  <div class="card p-3">
    <a href="licitacao/"><img class="card-img-top figure-img img-fluid rounded" src="{% static "media/Pacote de Imagens/Licitação.png" %}" alt="Card image cap"></a>
  </div>
  <div class="card p-3">
    <a href="pessoal/"><img class="card-img-top figure-img img-fluid rounded" src="{% static "media/Pacote de Imagens/Pessoal.png" %}" alt="Card image cap"></a>
  </div>
  <div class="card p-3">
    <a href="http://177.99.236.214/Transparencia"><img class="card-img-top figure-img img-fluid rounded" src="{% static "media/Pacote de Imagens/Despesas.png" %}" alt="Card image cap"></a>
  </div>
  <div class="card p-3">
    <a href="http://www.jaboataodosguararapes.pe.leg.br/institucional/regimento-interno/organograma.pdf"><img class="card-img-top figure-img img-fluid rounded" src="{% static "media/Pacote de Imagens/Estrutura.png" %}" alt="Card image cap"></a>
  </div>
  <div class="card p-3">
    <img class="card-img-top figure-img img-fluid rounded" src="{% static "media/Pacote de Imagens/Contratos.png" %}" alt="Card image cap">
  </div>
  <div class="card p-3">
    <a href="http://jaboataodosguararapes.pe.leg.br/transparencia/dados-abertos"><img class="card-img-top figure-img img-fluid rounded" src="{% static "media/Pacote de Imagens/Dados.png" %}" alt="Card image cap"></a>
  </div>
</div>
{% endblock %}