{% extends 'base/base.html' %}
{% load static %}
{% block menu %}
<div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    <li class="nav-item">
        <a class="nav-link" href="http://diario.camarajaboatao.pe.gov.br">Diário Oficial do PL</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://jaboataodosguararapes.pe.leg.br">Site Oficial do PL</a>
    </li>
    <li>
        <a class="nav-link" href="http://jaboataodosguararapes.pe.leg.br/links-uteis">Links Úteis</a>
    </li>
    </ul>
</div>
{% endblock %}
{% block conteudo %}
<div class="card-columns">
  <div class="card p-3">
    <a href="licitacao/"><img class="card-img-top figure-img img-fluid rounded" src="{% static "media/800x600.png" %}" alt="Card image cap"></a>
  </div>
  <div class="card p-3">
    <img class="card-img-top figure-img img-fluid rounded" src="{% static "media/800x600.png" %}" alt="Card image cap">
  </div>
  <div class="card p-3">
    <img class="card-img-top figure-img img-fluid rounded" src="{% static "media/800x600.png" %}" alt="Card image cap">
  </div>
  <div class="card p-3">
    <img class="card-img-top figure-img img-fluid rounded" src="{% static "media/800x600.png" %}" alt="Card image cap">
  </div>
  <div class="card p-3">
    <img class="card-img-top figure-img img-fluid rounded" src="{% static "media/800x600.png" %}" alt="Card image cap">
  </div>
  <div class="card p-3">
    <img class="card-img-top figure-img img-fluid rounded" src="{% static "media/800x600.png" %}" alt="Card image cap">
  </div>
</div>
{% endblock %}