{% extends 'base/base.html' %}
{% load static %}
{% block conteudo %}
<div class="d-flex align-content-around flex-wrap">
  <div class="p-2">
    <a href="licitacao/"><img class="imagenshome rounded mx-auto d-block" src="{% static "media/Pacote de Imagens/IconLicitacaoN.png" %}" alt="licitação"></a>
  </div>
  <div class="p-2">
    <a href="apresentacaopessoal/"><img class="imagenshome rounded mx-auto d-block" src="{% static "media/Pacote de Imagens/IconPessoalN.png" %}" alt="pessoal"></a>
  </div>
  <div class="p-2">
    <a href="http://177.99.236.214/Transparencia"><img class="imagenshome rounded mx-auto d-block" src="{% static "media/Pacote de Imagens/IconDespesasN.png" %}" alt="despesas"></a>
  </div>
  <div class="p-2">
    <a href="http://www.jaboataodosguararapes.pe.leg.br/institucional/regimento-interno/organograma.pdf"><img class="imagenshome rounded mx-auto d-block" src="{% static "media/Pacote de Imagens/IconEstruturaN.png" %}" alt="estrutura organizacional"></a>
  </div>
  <div class="p-2">
      <a href="contrato/"><img class="imagenshome rounded mx-auto d-block" src="{% static "media/Pacote de Imagens/IconContratosN.png" %}" alt="contratos"></a>
  </div>
  <div class="p-2">
    <a href="http://jaboataodosguararapes.pe.leg.br/transparencia/dados-abertos"><img class="imagenshome rounded mx-auto d-block" src="{% static "media/Pacote de Imagens/IconDadosN.png" %}" alt="dados abertos"></a>
  </div>
</div>
{% endblock %}