{% extends 'base/base.html' %}
{% load static %}
{% block conteudo %}
<div class="container" style="margin-top: 20px">

<h2>Pessoal</h2>

<p>Escolha o tipo de Vínculo, Mês e Ano da folha que deseja consultar.</p>

<form action="" method="GET">
    {% csrf_token %}
    {{ form.non_field_errors }}
<div class="fieldWrapper form-group col-md-2">
    <label for="{{ vinculo.id_for_label }}"><b>Tipo de Vínculo</b></label>
    <select name="vinculo" class="form-control form-control-sm" placeholder="Vínculo" aria-label="Vínculo"/>
    {% for tipo in tipo_vinculo %}
        <option>{{ tipo }}</option>
    {% endfor %}
    </select>
</div>
<div class="fieldWrapper form-group col-md-2">
    <label for="{{ mes.id_for_label }}"><b>Mês</b></label>
    <select name="mes" class="form-control form-control-sm" placeholder="Mês" aria-label="Mês"/>
    {% for mes in meses %}
        <option>{{ mes }}</option>
    {% endfor %}
    </select>
</div>
<div class="fieldWrapper form-group col-md-2">
<label for="{{ ano.id_for_label }}"><b>Ano</b></label>
    <select name="ano" class="form-control form-control-sm" placeholder="Ano" aria-label="Ano"/>
    {% for ano in anos %}
        <option>{{ ano }}</option>
    {% endfor %}
    </select>
</div>
<div class="fieldWrapper form-group col-md-2">
        <button class="btn btn-group btn-primary" type="submit">Buscar</button>
</div>
</form>
</div>


<div class="container" style="margin-top: 20px">
<h2>Pessoal</h2>
<p>Preencha os campos abaixo</p>
<h5>Lista de Funcionários</h5>
{% if request.GET.vinculo %}
    <p>Em regime de <b class="text-primary">{{ request.GET.vinculo }}</b> referente ao período <b class="text-warning">{{ request.GET.mes }}/{{ request.GET.ano }}</b></p>
{% endif %}
<table class="table table-hover table-striped">
  <thead class="thead-dark text-center">
    <tr>
      <th class="align-middle">Matrícula</th>
      <th class="align-middle">Funcionário</th>
      <th class="align-middle">Cargo</th>
      <th class="align-middle">Data de Admissão</th>
      <th class="align-middle">Salário Fixo</th>
      <th class="align-middle">Total Bruto</th>
      <th class="align-middle">Total Descontos</th>
      <th class="align-middle">Líquido a pagar</th>
    </tr>
  </thead>
  <tbody>
  {% for obj in contacts %}
    <tr>
      <td class="text-center align-middle">{{ obj.matricula }}</td>
      <td class="text-center align-middle">{{ obj.nome }}</td>
      <td class="text-center align-middle">{{ obj.cargo }}</td>
      <td class="text-center align-middle">{{ obj.data_admissao }}</td>
      <td class="align-middle">{{ obj.salario_fixo }}</td>
      <td class="align-middle">{{ obj.tota_bruto }}</td>
      <td class="align-middle">{{ obj.total_desconto }}</td>
      <td class="align-middle">{{ obj.liquido }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<nav aria-label="Navegação de páginas">
  <ul class="pagination">
    {% if contacts.has_previous %}
    <li class="page-item"><a class="page-link" href="?{{ pagina_request }}={{ contacts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Voltar</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Voltar</a></li>
    {% endif %}
      <li class="page-item disabled"><a class="page-link" href="#">Página {{ contacts.number }} de {{ contacts.paginator.num_pages }}</a></li>
    {% if contacts.has_next %}
    <li class="page-item"><a class="page-link" href="?{{ pagina_request }}={{ contacts.next_page_number }}{% if request.GET.vinculo %}&vinculo={{ request.GET.vinculo }}{% endif %}{% if request.GET.mes %}&mes={{ request.GET.mes }}{% endif %}{% if request.GET.ano %}&ano={{ request.GET.ano }}{% endif %}">Próximo</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Próximo</a></li>
    {% endif %}
  </ul>
</nav>
</div>
</div>
{% endblock %}

