{% extends 'base/base.html' %}
{% load static %}
{% block menu %}
{% endblock %}
{% block conteudo %}
<div class="container" style="margin-top: 20px">
<h1 class="text-center"> Links</h1>
<p>Encontram-se nesta seção informações sobre quantitativos e valores de remuneração dos cargos efetivos e em comissão e das funções gratificadas que integram a estrutura organizacional da Câmara Municipal do Jaboatão dos Guararapes, além de dados sobre servidores à disposição.</p>
<p><a href="http://jaboataodosguararapes.pe.leg.br/institucional/historia/estrutura-de-pessoal-efetivos-2019/"><i class="fas fa-check"></i> Estrutura de Cargos Efetivos</a></p>
<p><a href="http://jaboataodosguararapes.pe.leg.br/institucional/historia/estrutura-de-pessoal-comissionados-2019/"><i class="fas fa-check"></i> Estutura de Cargos Comissionados</a></p>
<p><a href="/funcionarios/"><i class="fas fa-check"></i> Vencimentos Detalhados dos Servidores e Agentes Políticos </a></p>
</div>
{% endblock %}
