{% extends 'base/base.html' %}
{% load static %}
{% block conteudo %}
<div class="container">
<h1>Licitações</h1>
<h3>Opções de busca</h3>
<form class="form-inline">
    <select class="custom-select">
    <option selected>Escolha a modalidade</option>
    {% for item in lista%}
    <option value="{{ item.tipo }}">{{ item.tipo }}</option>
    {% endfor %}
    </select>
</form>
<h3>Lista de Licitações - {{ ano }}</h3>
<table class="table table-hover table-striped">
  <thead class="thead-dark text-center">
    <tr>
      <th class="align-middle">Modalidade</th>
      <th class="align-middle">Nº/Ano</th>
      <th class="align-middle">Situação</th>
      <th class="align-middle">Data de Abertura</th>
      <th class="align-middle">Objeto da Contratação</th>
      <th class="align-middle">Visualizar Arquivos</th>
    </tr>
  </thead>
  <tbody>
  {% for dados in lista %}
    <tr>
      <td class="text-center align-middle">{{ dados.tipo }}</td>
      <td class="text-center align-middle">{{ dados.numero }}/{{ dados.ano }}</td>
      <td class="text-center align-middle">{{ dados.situacao }}</td>
      <td class="text-center align-middle">{{ dados.criado_em }}</td>
      <td class="align-middle">{{ dados.objeto }}</td>
      <td class="text-center align-middle"><a href="#"><i class="fas fa-search-plus fa-2x"></i></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
</div>