{% extends 'base/base.html' %}
{% load static %}
{% block conteudo %}
    <h1 class="ui-dialog-title">Lista de Licitações</h1>
<table class="table table-hover mx-auto table-striped">
  <thead class="thead-dark text-center">
    <tr>
      <th>Modalidade</th>
      <th>Nº/Ano</th>
      <th>Situação</th>
      <th>Data de Abertura</th>
      <th>Objeto da Contratação</th>
      <th>Visualizar Arquivos</th>
    </tr>
  </thead>
  <tbody>
  {% for dados in lista %}
    <tr>
      <td class="text-center">{{ dados.tipo }}</td>
      <td class="text-center">{{ dados.numero }}/{{ dados.ano }}</td>
      <td class="text-center">{{ dados.situacao }}</td>
      <td class="text-center">{{ dados.criado_em }}</td>
      <td>{{ dados.objeto }}</td>
      <td class="text-center"><a href="#"><i class="fas fa-search-plus fa-2x"></i></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>


{% endblock %}