{% extends 'base/base.html' %}
{% load static %}
{% block menu %}
    <form class="form-inline" method="get" action="">
    <input name="queryobjeto" class="form-control mr-sm-2" type="search" placeholder="Buscar por Objeto" aria-label="Search" value="{{ request.GET.queryobjeto }}">
    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
    </form>
{% endblock %}
{% block conteudo %}
<div class="container" style="margin-top: 20px">
<h2>Licitações</h2>
<h5>Opções de busca</h5>
<p>Para buscar uma licitação específica, basta digitar, no campo de busca do menu superior uma <b class="text-primary">MODALIDADE</b>, <b class="text-warning">ANO</b>, <b class="text-success">SITUAÇÃO</b> ou <b class="text-danger">OBJETO</b>.</p>
<h5>Lista de Licitações</h5>
<table class="table table-hover table-striped">
  <thead class="thead-dark text-center">
    <tr>
      <th class="align-middle">Modalidade</th>
      <th class="align-middle">Nº/Ano</th>
      <th class="align-middle">Situação</th>
      <th class="align-middle">Data de Abertura</th>
      <th class="align-middle">Objeto da Contratação</th>
      <th class="align-middle">Visualizar Arquivos</th>
    </tr>
  </thead>
  <tbody>
  {% for dados in contacts %}
    <tr>
      <td class="text-center align-middle">{{ dados.tipo }}</td>
      <td class="text-center align-middle">{{ dados.numero }}/{{ dados.criado_em.year }}</td>
      <td class="text-center align-middle">{{ dados.situacao }}</td>
      <td class="text-center align-middle">{{ dados.criado_em }}</td>
      <td class="align-middle">{{ dados.objeto }}</td>
      <td class="text-center align-middle"><a href="#"><i class="fas fa-search-plus fa-2x"></i></a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    {% if contacts.has_previous %}
    <li class="page-item"><a class="page-link" href="?{{ pagina_request }}={{ contacts.previous_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Voltar</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Voltar</a></li>
    {% endif %}
      <li class="page-item disabled"><a class="page-link" href="#">Página {{ contacts.number }} de {{ contacts.paginator.num_pages }}</a></li>
    {% if contacts.has_next %}
    <li class="page-item"><a class="page-link" href="?{{ pagina_request }}={{ contacts.next_page_number }}{% if request.GET.q %}&q={{ request.GET.q }}{% endif %}">Próximo</a></li>
    {% else %}
    <li class="page-item disabled"><a class="page-link" href="#">Próximo</a></li>
    {% endif %}
  </ul>
</nav>
</div>
{% endblock %}
